<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        };
    </style>
</head>
<body>
    <img src="./ZigRig.png" style="max-width: 200px;"/>
    <h1>S.Zigler Diagram #1001</h1>
    <table>
        <tr>
            <th>Draw</th>
            <th>Red Leg</th>
            <th>Blue Leg</th>
            <th>Black Leg</th>
        </tr>
        <tr>
            <td>Rooftop 20k</td>
            <td>83.3A</td>
            <td>83.3A</td>
            <td>X</td>
        </tr>
    </table>
</body>
</html>